.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #cfcccc;
  color: #000;
  padding: 5px;
  /* border-radius: 4px; */
  font-size: 14px;
  /* opacity: 0.9; */
  width: max-content;
  border: 1px solid #000;
}
